<!DOCTYPE html>
<html>
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Score site</title>
 </head>
 <body>
 <ul>
 <li><a href="http://chebotarmv.pythonanywhere.com/home">Главная</a></li>
 <li><a href="http://chebotarmv.pythonanywhere.com/khl">KHL</a></li>
 <li><a href="http://chebotarmv.pythonanywhere.com/archivekhl">KHL Archive</a> </li>
 <li><a href="http://chebotarmv.pythonanywhere.com/makekhldata" target="_blank">Внести КХЛ данные</a></li>
 <li><a href="http://chebotarmv.pythonanywhere.com/nhl">NHL</a></li>
 <li><a href="http://chebotarmv.pythonanywhere.com/archivenhl">NHL Archive</a> </li>
 <li><a href="http://chebotarmv.pythonanywhere.com/makenhldata" target="_blank">Внести НХЛ данные</a></li>
 </ul>
 <div>
     {% block content %}
     {% endblock %}
 </div>
 </body>
