<!DOCTYPE html>
<html>
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Статистика</title>
 </head>
 <body>
 <p><a href="">Главная</a></p>
 <p><a href="">KHL</a></p>
 <p><a href="">NHL</a></p>
 <p><a href="">Внести данные</a></p>
 <h1><a href="">KHL</a> </h1>
 <h3><a href="">KHL Archive</a> </h3>
 <!-- Блок контент с списком последних 5 игр -->
 <h3><a href="" target="_blank">Внести данные</a> </h3>
 <h1><a href="">NHL</a> </h1>
 <h3><a href="">NHL Archive</a> </h3>
 <!-- Блок контент с списком последних 5 игр -->
 <h3><a href="" target="_blank">Внести данные</a> </h3>

 </body>