{% extends 'score/base.html' %}
{% block content %}

 <p>Последние игры КХЛ</p>

  {% for dat in khldata %}
 <div> {{ dat.game_id }} </div>
 <div> {{ dat.first_team_name_id }} </div>
 <div> {{ dat.second_team_name_id }} </div>
 <div> {{ dat.game_data }} </div>
 {% endfor%}

 <p>Последние игры НХЛ</p>

  {% for dat in nhldata %}
 <div> {{ dat.game_id }} </div>
 <div> {{ dat.first_team_name_id }} </div>
 <div> {{ dat.second_team_name_id }} </div>
 <div> {{ dat.game_data }} </div>
 {% endfor%}

{% endblock %}
